body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
  }
   
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

  }
   
  .header__logo {
    height: 30px;
  }
  a {
    text-decoration: none;
    color: #213053;
  }
  header a {
    font-size: 15px;
    font-weight: 600;
  }
  button {
    font-family: 'Raleway', sans—serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  }
 
   
  .about__sun-image {
    width: 100px;
    height: 100px;
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 115px;
    padding-top: 115px;
  }
  
  .about__image {
    width: 500px;
  }
   
  .about__sun-image {
    width: 100px;
    height: 100px;
  }
  .about__info {
    max-width: 550px;
  }
  .about h1 {
    font-size: 70px;
    line-height: 76px;
  }
   
  .about p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
  }
   
  .about button {
    font-size: 18px;
    padding: 20px 25px;
    border-radius: 20px;
    margin-top: 20px;
  }
  .about {
    /* ... */
    background: url('img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
  }
  .form {
    width: 550px;
    background-color: #1D263A;
    color: #fff;
    padding-top: 115px; 
    padding-bottom: 115px;
    text-align: center;
  }
  .form h1 {
    font-size:48px;
  }
  .form p {
    font-size:18px;
    opacity: 0.65;
   }
   .form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .form form{
    display:grid;
    grid-gap:20px;
    margin-top:60px;
  }
  .form label{
  font-size:18px; 
  font-weight:600px;
  margin-bottom:15px;
  }
  .form select{
  font-size:18px; 
  color:#213053;
  height:60px;
  padding:0,0,20px,20px;
  border-radius:15px;
  border: none;
  }
  .form___submit{
  font-size:18px;
  font-weight:600px;
  margin-top:40px;
  }
select {
    appearance: none;
  }
input {
    outline: none;
  }
footer{
  font-weight:600px;
  font-size:16px; 
  text-align: center;
  opacity: 0.5;
}
.footer__group {
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-right: 80px;
}
.footer__links a{
display: flex;
flex-direction: column;
text-align: left;
margin: 25px;  
}
footer h3{
  font-size: 16px;
  opacity: 0.7;
  margin: 30px;
}