body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
    margin: 0;
  }
.header__logo {
    height: 30px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    background-color: white;
    top: 0px;
    z-index: 1;
  }
  a {
    text-decoration: none;
    color: #213053;
  }
  header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
  }
  button {
    font-family: 'Raleway', sans—serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
    transition: background-color 0.3s ease-in;
  }
  .about__image {
    width: 500px;
  }
   
  .about__sun-image {
    width: 100px;
    height: 100px;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 115px;
    padding-top: 115px;
    background: url('img/back.png') no-repeat;
  background-position: center;
  background-size: cover;
  }
  .about h1 {
    font-size: 70px;
    line-height: 76px;
  }

  .about p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
  }
  .about button {
    font-size: 18px;
    padding: 20px 25px;
    border-radius: 20px;
    margin-top: 20px;
  }
  .about__info {
    max-width: 550px;
  }
  .form__container {
    width: 550px;
  }
  .form {background-color: #1D263A;
  color: #fff;
  padding-top: 115px; padding-bottom: 115px;
  text-align: center;
 display: flex;
    justify-content: center;
    align-items: center; 

  }

  .form h1 {
    font-size: 48px;
  }
  .form p {font-size: 18px;
    opacity: 0.65
  }
  .form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .form form {
    display: grid;
    grid-gap: 20px;
    margin-top: 60px;
  }
  .form label {
    font-size: 18px;
    font-weight: 600px;
    margin-bottom: 15px;
  }
  .form input {
    font-size: 18px;
    color: #213053;
    height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border: none;
  }
  .form select {
    font-size: 18px;
    color: #213053;
    height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border: none;
  }
  .form__submit {
font-size: 18px;
font-weight: 600px;
    margin-top: 40px;
  }
  button:hover {
    background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: background-color 0.3s ease-in;
  }
  footer {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 20px;
    padding-left: 20px;

  }

  .footer__copyright {
    margin-top: 40px;
    text-align: center;
    opacity: 0.5;
  }

  .footer__group {
    margin-right: 80px;
  }

  .footer__group h3 {
    font-size: 20px;
    opacity: 0.7;
    margin-bottom: 30px;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
  }
  .footer__links a {
    margin-bottom: 15px;
  }

  .footer__container {
    display: flex;
justify-content: center;
font-weight: 600;
font-size: 16px;
  }

  @keyframes rotation {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
  }

  @media (max-width: 720px) {
    header {
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 15px; /* или margin */
      padding-bottom: 15px; /* или margin */
      
    }
    section {
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 50px; /* или margin */
      padding-bottom: 50px; /* или margin */
     
      
    }
    footer {
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 50px; /* или margin */
      padding-bottom: 50px; /* или margin */
    }

.header__logo {
  height: 20px;
}

.about__sun-image {
  width: 75px;
  height: 75px;
}

h1 {
  font-size: 36px; 
  line-height: 40px;
}

  h3 {
    font-size: 36px; 
    line-height: 40px;
  }
  
  
      .about {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
      }
      .footer__container {
        display: flex;
        flex-direction: column;
    
      }
      .about h1 {
        font-size: 36px;
        line-height: 40px;
      }
      .about__image {
        width: 280px;
        }

       .features {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;

       }
       .cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
        
       }
       .features__feedback {
        display: flex;
        flex-direction: column;
        width: 80vw;
       }
       .features__feedback-left{
        margin-right: 0px;
       }
       .features__feedback-left h2 {
        font-size: 36px;
       }
       .features__feedback-right{
  display: flex;
  
  align-items: center;
 }
 .features__feedback-right{
  display: flex;
  
  flex-direction: column;
 }
 .features__box h3 {
  font-size: 36px;
 }
 .features__savings-box{
  margin-right: 0px;
  margin-bottom: 30px;
 }
 .promo{
  
  flex-direction: column-reverse;
 }
 .promo__image{
  width: 100%;
  height: 500px;
 }
 .promo__right {
  padding: 50px 10px;
}
} 





@media (min-width: 721px) 
and (max-width: 1024px)
{
  header {
    padding-right: 20px;
    padding-left: 20px;
  }
  section {
    padding-right: 20px;
    padding-left: 20px;
  }
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .about h1 {
  font-size: 36px; 
  line-height: 40px;
  }
  h3 {
    font-size: 36px; 
    line-height: 40px;
  }


  .about__image {
    width: 280px;
    
    }

    .about__sun-image {
      width: 75px;
      height: 75px;

    }

  .about {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
      .footer__container {
        display: flex;
        flex-direction: row;
    
      }
}





.iconarrow {
  margin-left: 10px;
}

@keyframes aside {
  from {opacity: 0;}
  to {opacity: 1;}
}

.animate__fadeInRight
{
  animation-name: aside;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.animate__fadeInLeft
{
  animation-name: aside;
  animation-duration: 2s;
  animation-iteration-count: 1;
}


.features
{
background-color: white;
padding-top: 115px;
padding-bottom: 115px;
padding-left: 60px;
padding-right: 60px;
}

.cards
{
  display: flex;
  justify-content: space-evenly;
  grid-gap: 50px;
}

.card
{
  border: 1px solid #D9E4E6;
  border-radius: 5px;
  padding-top: 35px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
}

.card h3 {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
}

.card__logo {
  width: 100px;
  height: 100px;
  font-size: 32px;
  font-weight: 700;
  color: #ad1714;
  background-color: #eaeff9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-solar-panel{
  color: #ffb406;
}
.fa-chart-line{
  color: #22a030;
}
.features__border {
margin-top: 0px;
margin-bottom: 50px;
border: 1px solid #E6EAF4;
}
.features__feedback {
  display: flex;
  justify-content: space-evenly;
  padding-left: 60px;
padding-right: 60px;
margin-bottom: 80px;
}
.features__feedback-left{
  margin-right: 10px;
 }

 .features__feedback-left h2 {
  font-size: 48px;
 }
 .features__feedback-left p {
  font-size: 18px;
  line-height: 26px;
  opacity: 0.7;
 }
 .features__feedback-right{
  display: flex;

  align-items: center;
 }
 .features__box {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
  color: rgb(255, 255, 255);
  border-radius: 25px;
 }
 .features__box h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 48px;
 }
 .features__savings-box{
  background-color: #dc5e26;
  box-shadow: 0px 6px 0px rgb(221 95 38 / 20%);
  margin-right: 30px;
  height: 170px;
 }
 .features__rate-box {
  background-color: #1D263A;
  box-shadow: 0px 6px 0px rgb(29 38 58 / 20%);
  height: 170px;
 }
 .fa-star{
  color: #ff7039;
 }


 .promo{
  display: flex;
  
 }
 .promo__image{
  background-image: url("img/prom.jpg");
  background-position: center;
background-size: cover;
  width: 50%;
  flex-shrink: 0;
 }
 .promo__right{
  background-color: #dd5f26;
  padding: 160px 60px;
 }
 .right__text{
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  border-radius: 25px;
 }
 .right__text h2{
  opacity: 0.8;
 }

.right__text p::before{
 content: "●";
 font-size: 25px;
 color: #ec6b29;
 padding-right: 10px;
}
.form__zakaz{
  font-family: 'Raleway', sans—serif;
  font-size: 18px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  transition: background-color 0.3s ease-in;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 600;
  
}
.parapamba{
  display: flex;
  justify-content: center;
}